.stor {
  background-color: #245852;
  padding: 229px 176px;
  color: white;
}
.stor-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stor-content {
  margin-right: 30px;
  max-width: 580px;
}
.stor-heading {
  font-size: 50px;
  line-height: 157%;
  font-weight: 700;
  font-family: 'Georgia', serif;
}
.stor-heading + * {
  margin-top: 33px;
}
.stor-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
}
.stor-text + * {
  margin-top: 57px;
}
.stor-video {
  overflow: hidden;
  max-width: 867px;
  position: relative;
}
.stor-video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.stor-video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.stor-video-object {
  border-radius: 12px;
}
@media (max-width: 1535px) {
  .container-wild {
    width: 100%;
  }
}
@media (max-width: 1199px) {
  .stor {
    padding: 90px 0 90px;
  }
  .stor-row {
    flex-direction: column-reverse;
  }
  .stor-video {
    margin-bottom: 40px;
  }
  .stor-text {
    font-size: 20px;
    line-height: 130%;
  }
  .stor-text + * {
    margin-top: 32px;
  }
  .stor-heading {
    font-size: 40px;
    line-height: 130%;
  }
}
@media (max-width: 990px) {
  .stor {
    padding: 60px 0 60px;
  }
  .stor-heading {
    font-size: 30px;
    line-height: 130%;
  }
  .stor-text {
    font-size: 18px;
  }
  .stor-text {
    margin-top: 22px;
  }
}
